* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
}
.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #6d6f74, #18171a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name {
    text-shadow: 0 0 15px #ccc;
    font-size: 46px;
    letter-spacing: 4px;
    color: #fff;
}
.sub-name {
    margin-top: 10px;
    color: #a93d4f;
}
.projects{
    width: 100%;
    height: auto;
    background:#3d4a74 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-infor{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
  
}
.title h2 {
    display: block;
    max-width: 260px;
    font-weight: 400;
    border-bottom: solid #ccc 2px;
    margin:  0 auto;

}
.title {
    display: block;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 24px;
    font-size: 12px;
}
.project{
    overflow: hidden;
    margin: 12px 12px;
    /* padding: 0 12px; */
    width: 300px;
    height: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition-timing-function: ease-in-out;
    transition: transform 0.3s ;
}
.project-img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  

}
.project:hover{
    transform: scale(105%);
    box-shadow: 0 0 20px #fff ;
    object-fit: cover;
    cursor: pointer;
}
.project-name {
    padding: 12px 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #ccc;
    width: 100%;
    /* height: 10%; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#2b303b ;
}
.show-all {
    color: #ccc;
    width: 100px;
    margin: 24px auto;
    background: #2b303b;
    padding: 6px 12px;
    border-radius: 3px; 
    cursor: pointer;
}
.show-all:hover {
   background-color: #793440;
   color: #fff;
    transition: all 0.15s ease-in;
    cursor: pointer;
}
.contact {
    width: 100%;
    height: 100vh;
    background: #2b303b ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-title {
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}
.contact-sub-title {
    /* margin-top: -12px; */
    margin-bottom: 46px;
    color: #ccc;
    font-style: italic;
}
.contact-list {
    display: flex;
    width: 800px;
    /* justify-content: space-evenly; */
    color: #fff;
    flex-wrap:wrap ;

}
.icon {
    transform: translateY(0px);
    padding: 4px 4px;
    margin:  0 28px;
    transition-timing-function: ease-in-out;
    transition: transform 0.2s ;

}
.icon:hover {
    cursor: pointer;
    transform: translateY(6px);
}
.icon span {
    font-weight: 400;
    margin-left: 4px;
}
.contact-list  a {
    text-decoration: none;
    color: #fff;
}
@media (max-width: 780px) {
    .container {
        min-width: 250%;
    }
}